In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/raw/dataset.csv')

C:\Users\jessi\AppData\Local\Temp\ipykernel_31540\2880239794.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/dataset.csv')

In [4]:
df.head(5)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      99493 non-null   object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    3197 non-null    object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                61510 non-null   object
 11  medical_specialty         51817 non-null   object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101745 non-null  object
 19  diag_2                    101408 non-null  object
 20  diag_3                    100343 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [6]:
variables_info = pd.read_csv('../data/raw/variable_info.csv')

In [7]:
variables_info[variables_info["missing_values"] == "yes"]

,name,role,type,demographic,description,units,missing_values
2,race,Feature,Categorical,Race,"Values: Caucasian, Asian, African American, Hi...",NaN,yes
5,weight,Feature,Categorical,NaN,Weight in pounds.,NaN,yes
10,payer_code,Feature,Categorical,NaN,Integer identifier corresponding to 23 distinc...,NaN,yes
11,medical_specialty,Feature,Categorical,NaN,Integer identifier of a specialty of the admit...,NaN,yes
18,diag_1,Feature,Categorical,NaN,The primary diagnosis (coded as first three di...,NaN,yes
19,diag_2,Feature,Categorical,NaN,Secondary diagnosis (coded as first three digi...,NaN,yes
20,diag_3,Feature,Categorical,NaN,Additional secondary diagnosis (coded as first...,NaN,yes

In [8]:
# Compare the porcentage of missing values in a specific column
cols = ['diag_1', 'diag_2', 'diag_3','medical_specialty','payer_code','race','weight']

for col in cols:
    total = len(df[col])
    na_values = df[col].isna().sum()
    print(f"For column '{col}', the percentage of missing values is: {na_values / total:.2%}")

For column 'diag_1', the percentage of missing values is: 0.02%
For column 'diag_2', the percentage of missing values is: 0.35%
For column 'diag_3', the percentage of missing values is: 1.40%
For column 'medical_specialty', the percentage of missing values is: 49.08%
For column 'payer_code', the percentage of missing values is: 39.56%
For column 'race', the percentage of missing values is: 2.23%
For column 'weight', the percentage of missing values is: 96.86%

In [9]:
# Drop the weight column due to high missing value percentage
df = df.drop(columns=['weight'])

# Drop the lines where diag_1 is missing
df = df.dropna(subset=['diag_1'])

# Fill missing values in diag_2 and diag_3 with 'Unknown'
df['diag_2'] = df['diag_2'].fillna('Unknown')
df['diag_3'] = df['diag_3'].fillna('Unknown')

# Fill missing values in medical_specialty with 'Unknown'
df['medical_specialty'] = df['medical_specialty'].fillna('Unknown')

# Fill missing values in payer_code with 'Missing'
df['payer_code'] = df['payer_code'].fillna('Missing')

# Fill missing values in race with 'Unknown'
df['race'] = df['race'].fillna('Unknown')

# Fill missing values in max_glu_serum with 'Not_measured'
df['max_glu_serum'] = df['max_glu_serum'].fillna('Not_measured')

# Fill missing values in A1Cresult with 'Not_measured'
df['A1Cresult'] = df['A1Cresult'].fillna('Not_measured')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 101745 entries, 0 to 101765
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101745 non-null  int64
 1   patient_nbr               101745 non-null  int64
 2   race                      101745 non-null  object
 3   gender                    101745 non-null  object
 4   age                       101745 non-null  object
 5   admission_type_id         101745 non-null  int64
 6   discharge_disposition_id  101745 non-null  int64
 7   admission_source_id       101745 non-null  int64
 8   time_in_hospital          101745 non-null  int64
 9   payer_code                101745 non-null  object
 10  medical_specialty         101745 non-null  object
 11  num_lab_procedures        101745 non-null  int64
 12  num_procedures            101745 non-null  int64
 13  num_medications           101745 non-null  int64
 14  number_outpatient         101745 non-null  int64
 15  number_emergency          101745 non-null  int64
 16  number_inpatient          101745 non-null  int64
 17  diag_1                    101745 non-null  object
 18  diag_2                    101745 non-null  object
 19  diag_3                    101745 non-null  object
 20  number_diagnoses          101745 non-null  int64
 21  max_glu_serum             101745 non-null  object
 22  A1Cresult                 101745 non-null  object
 23  metformin                 101745 non-null  object
 24  repaglinide               101745 non-null  object
 25  nateglinide               101745 non-null  object
 26  chlorpropamide            101745 non-null  object
 27  glimepiride               101745 non-null  object
 28  acetohexamide             101745 non-null  object
 29  glipizide                 101745 non-null  object
 30  glyburide                 101745 non-null  object
 31  tolbutamide               101745 non-null  object
 32  pioglitazone              101745 non-null  object
 33  rosiglitazone             101745 non-null  object
 34  acarbose                  101745 non-null  object
 35  miglitol                  101745 non-null  object
 36  troglitazone              101745 non-null  object
 37  tolazamide                101745 non-null  object
 38  examide                   101745 non-null  object
 39  citoglipton               101745 non-null  object
 40  insulin                   101745 non-null  object
 41  glyburide-metformin       101745 non-null  object
 42  glipizide-metformin       101745 non-null  object
 43  glimepiride-pioglitazone  101745 non-null  object
 44  metformin-rosiglitazone   101745 non-null  object
 45  metformin-pioglitazone    101745 non-null  object
 46  change                    101745 non-null  object
 47  diabetesMed               101745 non-null  object
 48  readmitted                101745 non-null  object
dtypes: int64(13), object(36)
memory usage: 38.8+ MB

In [11]:
df

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,Missing,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,Missing,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,Missing,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,Missing,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,Missing,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,MC,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,MC,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,MC,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,MC,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,Missing,...,No,No,No,No,No,No,No,No,No,NO

In [14]:
for col in df.columns:
    print(f"Column '{col}':")
    print(f"  - Data type: {df[col].dtype}")
    print(f"  - Unique values: {df[col].nunique()}")
    print(f"  - Values: {df[col].unique()}")
    print(f"  - Missing values: {df[col].isnull().sum()}")
    print("\n")

Column 'encounter_id':
  - Data type: int64
  - Unique values: 101745
  - Values: [  2278392    149190     64410 ... 443854148 443857166 443867222]
  - Missing values: 0


Column 'patient_nbr':
  - Data type: int64
  - Unique values: 71509
  - Values: [  8222157  55629189  86047875 ... 140199494 120975314 175429310]
  - Missing values: 0


Column 'race':
  - Data type: object
  - Unique values: 6
  - Values: ['Caucasian' 'AfricanAmerican' 'Unknown' 'Other' 'Asian' 'Hispanic']
  - Missing values: 0


Column 'gender':
  - Data type: object
  - Unique values: 3
  - Values: ['Female' 'Male' 'Unknown/Invalid']
  - Missing values: 0


Column 'age':
  - Data type: object
  - Unique values: 10
  - Values: ['[0-10)' '[10-20)' '[20-30)' '[30-40)' '[40-50)' '[50-60)' '[60-70)'
 '[70-80)' '[80-90)' '[90-100)']
  - Missing values: 0


Column 'admission_type_id':
  - Data type: int64
  - Unique values: 8
  - Values: [6 1 2 3 4 5 8 7]
  - Missing values: 0


Column 'discharge_disposition_id':
  - Data type: int64
  - Unique values: 26
  - Values: [25  1  3  6  2  5 11  7 10  4 14 18  8 13 12 16 17 22 23  9 20 15 24 28
 19 27]
  - Missing values: 0


Column 'admission_source_id':
  - Data type: int64
  - Unique values: 17
  - Values: [ 1  7  2  4  5  6 20  3 17  8  9 14 10 22 11 25 13]
  - Missing values: 0


Column 'time_in_hospital':
  - Data type: int64
  - Unique values: 14
  - Values: [ 1  3  2  4  5 13 12  9  7 10  6 11  8 14]
  - Missing values: 0


Column 'payer_code':
  - Data type: object
  - Unique values: 18
  - Values: ['Missing' 'MC' 'MD' 'HM' 'UN' 'BC' 'SP' 'CP' 'SI' 'DM' 'CM' 'CH' 'PO'
 'WC' 'OT' 'OG' 'MP' 'FR']
  - Missing values: 0


Column 'medical_specialty':
  - Data type: object
  - Unique values: 73
  - Values: ['Pediatrics-Endocrinology' 'Unknown' 'InternalMedicine'
 'Family/GeneralPractice' 'Cardiology' 'Surgery-General' 'Orthopedics'
 'Gastroenterology' 'Surgery-Cardiovascular/Thoracic' 'Nephrology'
 'Orthopedics-Reconstructive' 'Psychiatry' 'Emergency/Trauma'
 'Pulmonology' 'Surgery-Neuro' 'Obsterics&Gynecology-GynecologicOnco'
 'ObstetricsandGynecology' 'Pediatrics' 'Hematology/Oncology'
 'Otolaryngology' 'Surgery-Colon&Rectal' 'Pediatrics-CriticalCare'
 'Endocrinology' 'Urology' 'Psychiatry-Child/Adolescent'
 'Pediatrics-Pulmonology' 'Neurology' 'Anesthesiology-Pediatric'
 'Radiology' 'Pediatrics-Hematology-Oncology' 'Psychology' 'Podiatry'
 'Gynecology' 'Oncology' 'Pediatrics-Neurology' 'Surgery-Plastic'
 'Surgery-Thoracic' 'Surgery-PlasticwithinHeadandNeck' 'Ophthalmology'
 'Surgery-Pediatric' 'Pediatrics-EmergencyMedicine'
 'PhysicalMedicineandRehabilitation' 'InfectiousDiseases' 'Anesthesiology'
 'Rheumatology' 'AllergyandImmunology' 'Surgery-Maxillofacial'
 'Pediatrics-InfectiousDiseases' 'Pediatrics-AllergyandImmunology'
 'Dentistry' 'Surgeon' 'Surgery-Vascular' 'Osteopath'
 'Psychiatry-Addictive' 'Surgery-Cardiovascular' 'PhysicianNotFound'
 'Hematology' 'Proctology' 'Obstetrics' 'SurgicalSpecialty' 'Radiologist'
 'Pathology' 'Dermatology' 'SportsMedicine' 'Speech' 'Hospitalist'
 'OutreachServices' 'Cardiology-Pediatric' 'Perinatology'
 'Neurophysiology' 'Endocrinology-Metabolism' 'DCPTEAM' 'Resident']
  - Missing values: 0


Column 'num_lab_procedures':
  - Data type: int64
  - Unique values: 118
  - Values: [ 41  59  11  44  51  31  70  73  68  33  47  62  60  55  49  75  45  29
  35  42  66  36  19  64  25  53  52  87  27  37  46  28  48  72  10   2
  65  67  40  54  58  57  43  32  83  34  39  69  38  56  22  96  78  61
  88  50   1  18  82   9  63  24  71  77  81  76  90  93   3 103  13  80
  85  16  15  12  30  23  17  21  79  26   5  95  97  84  14  74 105  86
  98  20   6  94   8 102 100   7  89  91  92   4 101  99 114 113 111 129
 107 108 106 104 109 120 132 121 126 118]
  - Missing values: 0


Column 'num_procedures':
  - Data type: int64
  - Unique values: 7
  - Values: [0 5 1 6 2 3 4]
  - Missing values: 0


Column 'num_medications':
  - Data type: int64
  - Unique values: 75
  - Values: [ 1 18 13 16  8 21 12 28 17 11 15 31  2 23 19  7 20 14 10 22  9 27 25  4
 32  6 30 26 24 33  5 39  3 29 61 40 46 41 36 34 35 50 43 42 37 51 38 45
 54 52 49 62 55 47 44 53 48 57 59 56 60 63 58 70 67 64 69 65 68 66 81 79
 75 72 74]
  - Missing values: 0


Column 'number_outpatient':
  - Data type: int64
  - Unique values: 39
  - Values: [ 0  2  1  5  7  9  3  8  4 12 11  6 20 15 10 13 14 16 21 35 17 29 36 18
 19 27 22 24 42 39 34 26 33 25 23 28 37 38 40]
  - Missing values: 0


Column 'number_emergency':
  - Data type: int64
  - Unique values: 33
  - Values: [ 0  1  2  4  3  9  5  7  6  8 22 25 10 13 42 16 11 28 15 14 18 12 21 20
 19 46 76 37 64 63 54 24 29]
  - Missing values: 0


Column 'number_inpatient':
  - Data type: int64
  - Unique values: 21
  - Values: [ 0  1  2  3  6  5  4  7  8  9 15 10 11 14 12 13 17 16 21 18 19]
  - Missing values: 0


Column 'diag_1':
  - Data type: object
  - Unique values: 716
  - Values: ['250.83' '276' '648' '8' '197' '414' '428' '398' '434' '250.7' '157'
 '518' '999' '410' '682' '402' '737' '572' 'V57' '189' '786' '427' '996'
 '277' '584' '462' '473' '411' '174' '486' '998' '511' '432' '626' '295'
 '196' '250.6' '618' '182' '845' '423' '808' '250.4' '722' '403' '250.11'
 '784' '707' '440' '151' '715' '997' '198' '564' '812' '38' '590' '556'
 '578' '250.32' '433' 'V58' '569' '185' '536' '255' '250.13' '599' '558'
 '574' '491' '560' '244' '250.03' '577' '730' '188' '824' '250.8' '332'
 '562' '291' '296' '510' '401' '263' '438' '70' '250.02' '493' '642' '625'
 '571' '738' '593' '250.42' '807' '456' '446' '575' '250.41' '820' '515'
 '780' '250.22' '995' '235' '250.82' '721' '787' '162' '724' '282' '514'
 'V55' '281' '250.33' '530' '466' '435' '250.12' 'V53' '789' '566' '822'
 '191' '557' '733' '455' '711' '482' '202' '280' '553' '225' '154' '441'
 '250.81' '349' '962' '592' '507' '386' '156' '200' '728' '348' '459'
 '426' '388' '607' '337' '82' '531' '596' '288' '656' '573' '492' '220'
 '516' '210' '922' '286' '885' '958' '661' '969' '250.93' '227' '112'
 '404' '823' '532' '416' '346' '535' '453' '250' '595' '211' '303'
 '250.01' '852' '218' '782' '540' '457' '285' '431' '340' '550' '54' '351'
 '601' '723' '555' '153' '443' '380' '204' '424' '241' '358' '694' '331'
 '345' '681' '447' '290' '158' '579' '436' '335' '309' '654' '805' '799'
 '292' '183' '78' '851' '458' '586' '311' '892' '305' '293' '415' '591'
 '794' '803' '79' '655' '429' '278' '658' '598' '729' '585' '444' '604'
 '727' '214' '552' '284' '680' '708' '41' '644' '481' '821' '413' '437'
 '968' '756' '632' '359' '275' '512' '781' '420' '368' '522' '294' '825'
 '135' '304' '320' '250.31' '669' '868' '496' '250.43' '826' '567' '3'
 '203' '53' '251' '565' '161' '495' '49' '250.1' '297' '663' '576' '355'
 '850' '287' '250.2' '611' '840' '350' '726' '537' '620' '180' '366' '783'
 '11' '751' '716' '250.3' '199' '464' '580' '836' '664' '283' '813' '966'
 '289' '965' '184' '480' '608' '333' '972' '212' '117' '788' '924' '959'
 '621' '238' '785' '714' '942' '250.23' '710' '47' '933' '508' '478' '844'
 '7' '736' '233' '42' '250.5' '397' '395' '201' '421' '253' '250.92' '600'
 '494' '977' '39' '659' '312' '614' '647' '652' '646' '274' '861' '425'
 '527' '451' '485' '217' '250.53' '442' '970' '193' '160' '322' '581'
 '475' '623' '374' '582' '568' '465' '801' '237' '376' '150' '461' '913'
 '226' '617' '987' '641' '298' '790' '336' '362' '228' '513' '383' '746'
 '353' '911' '506' '873' '155' '860' '534' '802' '141' 'V45' '396' '310'
 '341' '242' '719' '239' '533' '616' '519' '301' 'V66' '5' '989' '230'
 '385' '300' '853' '871' '570' '848' '463' '9' '934' '250.21' '236' '361'
 '594' '501' '810' '643' '430' '528' '205' '791' '983' '992' '490' '172'
 '171' '622' '306' '863' '864' '474' '660' '759' '356' '634' '967' '551'
 '695' '187' '732' '747' '323' '308' '370' '252' '152' '846' '164' '365'
 '718' '48' '266' '720' '94' '344' '797' '170' '878' '904' 'V56' '882'
 '843' '709' '973' '454' '686' '939' '487' '229' '991' '483' '357' '692'
 '796' '693' '935' '936' '800' '920' 'V26' '261' '307' '262' '250.9' '831'
 '145' '223' 'V71' '839' '685' 'V54' '35' '34' '179' '964' '136' '324'
 '389' '815' '334' '143' '526' '588' '192' 'V67' '394' '917' '88' '219'
 '325' '792' '717' '994' '990' '793' '207' '637' '195' '373' '847' '827'
 '31' '891' '814' 'V60' '703' '865' '352' '627' '378' '342' '886' '369'
 '745' '705' '816' '541' '986' '610' '633' '640' '753' '173' '835' '379'
 '445' '272' '382' '945' '619' '881' '250.52' '866' '405' '916' '215'
 '893' '75' '671' '928' '906' '897' '725' '867' '115' '890' '734' '521'
 '674' '470' '834' '146' '696' '524' '980' '691' '384' '142' '879'
 '250.51' '246' '208' '448' '955' '653' '149' '245' '735' '883' '854'
 '952' '838' '194' 'V43' '163' '216' '147' '354' '27' '477' '318' '880'
 '921' '377' '471' '683' '175' '602' '250.91' '982' '706' '375' '417'
 '131' '347' '870' '148' '862' '61' '817' '914' '360' '684' '314' 'V63'
 '36' '57' '240' '915' '971' '795' '988' '452' '963' '327' '731' '842'
 'V25' '645' '665' '110' '944' '603' '923' '412' '363' '957' '976' '698'
 '299' '700' '273' '974' '97' '529' '66' '98' '605' '941' '52' '806' '84'
 '271' '837' '657' '895' '338' '523' '542' '114' '543' '372' 'V70' 'E909'
 '583' 'V07' '422' '615' '279' '500' '903' '919' '875' '381' '804' '704'
 '23' '58' '649' '832' '133' '975' '833' '391' '690' '10' 'V51']
  - Missing values: 0


Column 'diag_2':
  - Data type: object
  - Unique values: 749
  - Values: ['Unknown' '250.01' '250' '250.43' '157' '411' '492' '427' '198' '403'
 '288' '998' '507' '174' '425' '456' '401' '715' '496' '428' '585'
 '250.02' '410' '999' '996' '135' '244' '41' '571' '276' '997' '599' '424'
 '491' '553' '707' '286' '440' '493' '242' '70' 'V45' '250.03' '357' '511'
 '196' '396' '197' '414' '250.52' '577' '535' '413' '285' '53' '780' '518'
 '150' '566' '250.6' '867' '486' 'V15' '8' '788' '340' '574' '581' '228'
 '530' '250.82' '786' '294' '567' '785' '512' '305' '729' '250.51' '280'
 '648' '560' '618' '444' '38' 'V10' '578' '277' '781' '250.42' '278' '426'
 '584' '462' '402' '153' '272' '733' '34' '881' '203' '250.41' '250.13'
 '293' '245' '250.12' '558' '787' '342' '573' '626' '303' '250.53' '458'
 '710' '415' 'V42' '284' '569' '759' '682' '112' '292' '435' '290'
 '250.93' '642' '536' '398' '319' '711' 'E878' '446' '255' 'V44' '250.7'
 '784' '300' '562' '162' '287' '447' '789' '790' '591' '200' '154' '304'
 '117' '847' '852' '250.83' '250.11' '816' '575' '416' '412' '441' '515'
 '372' '482' '382' 'V65' '572' '283' '78' '250.81' '576' '432' '295' 'V12'
 '204' '466' '721' '434' '590' '271' '813' '368' '227' '783' '250.5' '258'
 '253' '309' '250.91' '519' '333' '459' '250.92' '250.4' '179' '420' '345'
 '433' '661' '537' '205' '722' '405' '437' '714' '211' 'E812' '263' '202'
 '397' '250.23' 'E932' '201' '301' '723' '614' '568' '861' 'V57' '724'
 '189' '297' '453' 'E888' '730' '354' '451' '738' 'E939' '805' 'V43' '155'
 '910' '218' '358' '220' 'E937' '583' '958' '794' '564' '436' '250.22'
 '620' '621' '331' '617' '596' '314' '378' '250.8' '625' '478' '731' '172'
 '404' '681' '470' '279' '281' '531' '443' '799' '337' '311' '719' 'E944'
 '423' 'E870' '465' 'E849' '782' '481' '480' 'V23' '199' '79' '438' '348'
 '42' 'E950' '473' '627' '726' '54' '490' '317' '332' '508' '369' '600'
 '349' '485' '208' '922' '431' '296' 'E934' '753' 'E935' '386' '728' '607'
 'E915' '344' '716' '289' '191' '873' '850' '611' '377' '352' '616' 'V17'
 '136' '455' '933' 'E885' '860' '513' '603' '484' '223' 'V72' '291' '151'
 'V58' '550' '510' '891' '185' '592' '791' '138' '598' '336' '362' '217'
 '825' '298' '821' 'E880' '343' '429' 'E879' '579' '225' '250.9' 'V49'
 '696' '233' '658' '969' '275' '595' '250.1' '601' '704' '808' 'E890'
 'V18' '920' '380' '570' 'E817' '359' '812' '274' 'V14' '324' '758' 'V66'
 '911' 'E931' 'E924' '593' '792' '727' 'V46' '394' '532' 'V64' '557' '864'
 '718' 'E942' '807' '604' '924' '820' '580' '273' '241' '282' '824' 'V61'
 '646' '701' '736' '565' '383' '250.2' 'E947' '452' '872' '905' 'E930'
 '921' '131' '448' '389' '421' '214' '705' '494' '752' '623' '9' '299'
 '959' '365' '967' 'E858' '40' '691' '909' '5' '814' '746' '250.31' '556'
 '680' '745' '351' '306' '110' '695' '552' '346' '918' '882' '947' '520'
 '188' '31' '356' '737' 'V08' '322' '182' '517' '974' 'E929' 'V53' '912'
 '252' '608' '516' 'E933' '94' '702' '923' '594' '647' '111' '934' '430'
 '487' '709' '796' '156' '977' '915' '756' '840' '341' '259' '693' '725'
 'V62' '528' '683' '953' '457' '501' 'E900' 'V09' '522' '919' '461' '506'
 '193' '483' 'E936' '717' '802' '335' 'V54' '320' '945' '906' '239' '454'
 '826' '823' 'E941' '226' '795' '684' '844' '250.33' '308' '615' '588'
 '712' '663' '706' '833' '741' '713' '533' 'E884' '586' '555' '755' 'E928'
 '742' '869' '962' 'V11' '543' '373' '870' '913' '152' '810' '965' '907'
 '908' '995' '845' '474' '442' '751' '323' '472' '464' '686' '250.32'
 '540' '251' '811' '652' '659' '851' '422' '815' '307' '325' '463' '992'
 '692' '521' '917' 'E965' '524' '916' 'E813' '173' '238' '137' '514' '312'
 '837' '355' '980' '622' '475' '500' '754' '261' '801' '868' '968' '381'
 '11' '250.21' '694' '610' '734' 'E814' '310' '130' '246' '892' '846'
 '634' '75' 'E927' 'E905' '183' '379' 'E917' '163' 'E868' '495' '747'
 '989' 'E854' '240' '832' '605' '602' '644' 'V16' '35' 'V70' '376' '266'
 'E918' '619' '477' '656' '46' '883' '171' 'V13' '698' '842' 'E850' '800'
 '269' '664' 'E887' '952' '164' 'E881' '527' '685' '366' '836' '27' 'V63'
 '865' '793' '232' '990' '52' '831' '327' '542' '806' '972' '862' 'E829'
 'E919' '944' 'E916' '963' '316' '645' '347' 'V85' '374' 'V02' '748' '256'
 '186' '866' '975' '96' '395' '262' 'E819' '654' '994' '318' 'E826' '879'
 '674' '641' '822' '145' '797' '353' 'E938' 'E816' '948' '987' '99' '192'
 '250.3' 'E906' '534' '115' 'E818' 'E980' '360' '338' '529' '871' '750'
 '212' '302' '955' '141' '88' 'V25' '215' '350' 'V50' 'V03' 'E853' 'E968'
 'E882' '140' '703' '991' '893' 'E821' '235' 'V69' '670' '195' 'V55' '388'
 '268' '894' '114' '260' '853' '7' '880' 'V86' '180' 'E945' '523' '863'
 '649' '270' '665' '460' '942' '364' '66' 'E883' '123' '884' 'V60' '843'
 '927']
  - Missing values: 0


Column 'diag_3':
  - Data type: object
  - Unique values: 790
  - Values: ['Unknown' '255' 'V27' '403' '250' 'V45' '38' '486' '996' '197' '250.6'
 '427' '627' '414' '416' '714' '428' '582' 'V43' '250.01' '263' '250.42'
 '276' '482' '401' '250.41' '585' '781' '278' '998' '568' '682' '618'
 '250.02' '305' '707' '496' '599' '715' '424' '518' '553' '794' '411'
 'V42' '531' '511' '490' '562' '250.8' '250.7' '250.52' '784' '491' '581'
 '420' '8' '724' '730' '789' '131' '250.82' '999' '41' '493' '250.03'
 '753' '786' '529' 'E888' '425' '595' '303' '560' '711' '492' '332' '296'
 '438' '362' '250.4' '654' '244' 'V70' '737' '625' '681' '250.51' '404'
 'V10' '810' '280' '440' '785' '588' '569' '272' '997' '250.43' '918'
 '584' '54' '788' '426' '722' '250.92' '196' '461' '535' '787' '891' '284'
 '458' '648' '780' '182' '285' '593' '413' '664' '564' '201' '356' 'V15'
 '292' '782' '473' '455' 'E932' '357' '348' '294' '250.23' '459' 'E878'
 '437' '733' '507' '525' '250.53' '397' '572' '805' '453' '331' '736'
 '402' '591' '576' '465' '533' '703' '349' '315' '658' '608' '578' '716'
 '382' '300' '282' '571' '536' '596' '287' '644' 'V11' '558' 'E885' '162'
 '198' '218' '412' '396' 'V14' '570' '433' 'E934' '882' '288' '577' '443'
 '729' '836' '295' '799' '281' '304' '153' '410' '616' '250.83' '601'
 '291' '75' '512' '660' '250.5' '598' '337' '574' '653' 'V58' '311' '415'
 '386' '602' '790' '112' '873' '620' '436' '70' '155' '138' '663' '530'
 '710' '42' '342' '250.91' 'E884' '515' '307' '704' '728' '731' '583'
 '238' '441' '293' '573' '532' '290' '319' '250.13' '250.12' '519' '346'
 '380' '135' '642' '698' '924' '905' 'E933' '555' '309' 'E879' '286' '565'
 '752' '580' '446' '444' '344' '252' '35' '813' '394' '301' '575' '258'
 'V17' '802' '435' '746' 'V12' '709' '881' 'E935' '139' '250.81' '718'
 '365' '202' '334' '185' '398' 'V44' '517' 'E849' '614' '466' '626'
 '250.9' '368' '605' '883' '289' '478' '617' '429' '442' 'V25' '866' '610'
 '557' '959' 'E942' '94' '920' '345' '313' '379' '79' '516' '586' '821'
 '600' '242' '373' '592' 'V64' '487' '253' '706' 'E947' '117' '340' 'E950'
 '656' 'E949' '590' 'V09' '250.22' '934' '694' '203' '250.93' '995' '726'
 '923' '958' '275' 'E929' '211' 'V18' 'V66' '199' '665' '53' '279' '522'
 '791' '890' '456' 'E938' 'E816' '122' '721' 'V65' '136' '480' '423'
 'E920' '793' '647' '537' '351' '845' '336' '274' '719' '945' '434' '494'
 '227' '157' '208' '174' 'V57' '812' '734' '150' 'V23' '447' '692' '228'
 'V16' '756' '405' 'E928' '823' '552' '528' '389' '240' '454' '792' '366'
 'E939' '907' '270' '310' '266' '387' 'E931' '783' '245' '607' '355'
 'E930' '705' '372' '369' '611' '283' 'V46' '110' '867' 'E956' '251'
 '250.2' '820' '712' '695' '567' '343' '723' 'V08' '273' '623' '807' '451'
 '495' '701' '34' 'V53' '314' '472' 'E945' '11' '189' '534' '354' '333'
 'V54' '277' '659' '708' '452' '655' '816' '670' '621' '246' '953' '865'
 'E817' '646' '151' '378' '78' '298' '840' '641' '521' '745' '619' '912'
 '506' 'E904' '259' 'E870' '594' 'E980' '383' '204' '696' '566' '727' '47'
 'E943' '358' '191' '965' '921' '432' '27' 'E861' '758' '477' '524' '751'
 '652' '556' '188' '825' '919' '732' '908' '951' '962' '685' 'E850' 'E944'
 '527' '341' '693' '250.1' 'V49' '860' '323' 'V55' '579' '508' '969' '205'
 '462' 'E880' '680' '697' '826' '200' '457' '717' '738' '742' '735' '235'
 '308' '725' '241' '824' '464' '260' '917' '239' '661' '892' '261' 'E883'
 '943' '744' 'E936' '796' '318' '967' '350' '854' 'E905' '9' '741' 'E941'
 '170' '643' '317' '759' '909' 'V22' '831' '713' '180' '801' '360' '359'
 '501' '335' '250.11' '306' '811' '690' 'V02' '271' '214' '847' '543'
 'V63' '906' '842' '686' '445' '808' '861' 'E852' '220' 'E887' 'E858'
 '915' '970' '256' '747' '395' '243' '815' '481' '5' 'E927' '297' '299'
 '851' '864' '922' '384' 'E876' '225' '158' 'E937' '871' '88' '966' 'E917'
 'E812' 'V62' 'E924' '604' '233' 'E916' '377' '797' 'V72' '172' '7' '421'
 '852' 'E819' '972' '916' '956' '3' 'E965' '173' '193' '154' '347' '862'
 '250.3' '987' '470' '262' 'E855' '161' '115' '179' '910' '312' '17' '460'
 '265' '66' '163' 'V60' '870' 'E906' '514' '944' '844' '417' '152' '183'
 '991' '216' '385' '164' '935' '510' '814' '485' '850' '250.21' 'E919'
 '872' '195' '431' '597' '933' '171' '884' '156' '868' '483' 'E815' '542'
 'V61' '853' '374' 'E881' 'E882' 'E822' '192' '754' '327' '523' '500'
 'V85' '992' '657' '684' '603' 'E826' '550' '913' '376' '755' '361' '186'
 '720' '250.31' '674' '911' 'E813' '226' '365.44' 'E818' '146' '955'
 'E894' '475' 'V13' '880' '930' 'E915' '381' '132' '353' '795' '893' 'V01'
 'E853' '863' '540' 'E828' '430' '800' 'E865' '148' 'E946' '822' '879'
 '848' 'V86' 'V03' '338' '989' '388' 'E966' '111' 'E922' '123' '757'
 'E901' '141' '268' 'E892' '649' '702' '948' '223' '484' 'E886' '838'
 '928' '236' '624' '837' 'E987' 'V07' '841' '622' 'E912' 'E955' '463'
 'V06' 'E864' '217' '877' '391' 'E825' '952' '669' '875' 'E900' '215'
 '538' '980' '834' '448' '175' '49' '876' '230' '57' 'E854' '942' '14'
 '750' '370' '671' '971']
  - Missing values: 0


Column 'number_diagnoses':
  - Data type: int64
  - Unique values: 16
  - Values: [ 1  9  6  7  5  8  3  4  2 16 12 13 15 10 11 14]
  - Missing values: 0


Column 'max_glu_serum':
  - Data type: object
  - Unique values: 4
  - Values: ['Not_measured' '>300' 'Norm' '>200']
  - Missing values: 0


Column 'A1Cresult':
  - Data type: object
  - Unique values: 4
  - Values: ['Not_measured' '>7' '>8' 'Norm']
  - Missing values: 0


Column 'metformin':
  - Data type: object
  - Unique values: 4
  - Values: ['No' 'Steady' 'Up' 'Down']
  - Missing values: 0


Column 'repaglinide':
  - Data type: object
  - Unique values: 4
  - Values: ['No' 'Up' 'Steady' 'Down']
  - Missing values: 0


Column 'nateglinide':
  - Data type: object
  - Unique values: 4
  - Values: ['No' 'Steady' 'Down' 'Up']
  - Missing values: 0



In [12]:
# df = pd.read_csv('../data/interim/temp_dataset.csv')